# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Python virtual environments
venv/
env/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
egg-info/
pip-wheel-metadata/
*.egg-info/
*.egg

# IDE or editor specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Pytest cache
.cache/
*.cover
*.log

# Miscellaneous
*.DS_Store
*.bak
*.tmp
*.tmp.*
*.orig
*.csv
*.json
*.xlsx

#Extracted dataset
extracted/

#dataset
*.zip

#CMake files
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile

# Temporary files and directories
*.log
*.tmp
*.temp
*.tmp.*
temp/
tmp/
trained_fcnn_classifier_model_128_to_16_7281.pth
trained_fcnn_classifier_model_64_to_16_7368.pth
